.textfield-wrapper {
  position: relative;

}

.textfield-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.textfield-label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  transition: all 0.2s ease;
  pointer-events: none;
  color: #aaa;
  background-color: white;
  padding: 0 4px;
}

.textfield-input:focus + .textfield-label,
.textfield-input:not(:placeholder-shown) + .textfield-label,
.floating-label {
  top: -10px;
  font-size: 12px;
  color: #000;
}


  .flex {
    display: flex;
  }
  
  .flex-row {
    flex-direction: row;
  }
  
  .flex-col {
    flex-direction: column;
  }
  
  .space-x-4 {
    gap: 1rem; /* Adjust the value as needed */
  }
  
  .space-y-4 {
    gap: 1rem; /* Adjust the value as needed */
  }
  